html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f8f9fa;
  padding-top: 0px;
}
.container {
  max-width: 800px;
  margin-top: 20px;
}
.nav-logo {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  margin-bottom: 0px;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  margin-bottom: 20px;
}
.form-group label {
  font-weight: bold;
}
.form-group input {
  border-radius: 0.25rem;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
.book-details {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}
.book-details img {
  max-width: 200px;
  border-radius: 0.25rem;
}
.alert-danger {
  border-radius: 0.25rem;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 2px solid #00485f;
  border-radius: 8px;
  padding: 20px;
}

.form-container form {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-button {
  background-color: #e18e27;
  border: none;
  width: 150px;
  height: 40px;
  margin-left: 25px;
  margin-top: 30px;
  border-radius: 10px;
  font-weight: bold;
  color: #000000;
  font-weight: bold;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alert p {
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}

.book-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 50px;
}

.bcimage-container {
  width: 30%;
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.book-cover-image {
  border-radius: 8px;
  width: 100%;
  height: 20%;
}

.book-info-container {
  width: 80%;
  margin-left: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.book-name-title {
  color: #00485f;
  font-weight: bold;
}

.book-name-subtitle {
  color: #737373;
  font-weight: 200;
}

.price-container {
  margin-top: 50px;
}

.titles {
  font-weight: bold;
  color: #00485f;
  font-size: 18px;
}

#spinner {
  color: #00485f;
}